@charset "utf-8";

/* reset*/
@import "normalize";

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1*/
    display: table; /* 2*/
  }
  &:after {
    clear: both;
  }
}

/* commom*/
body {
  font-family: '微软雅黑';
}
ul {
  padding-left: 0;
  margin: 0
}
p {
  margin: 0;
}
li {
  list-style: none;
}
h1,
h2 {
  margin: 0;
}
a{
  text-decoration: none;
}
section {
  /* min-width: 1000px;*/
}
.wrap {
  width: 1000px;
  margin: 0 auto;
}
.pull-left{
  float:left;
}
.pull-right{
  float:right;
}
.no-bg{
  .wrap{
    padding-top: 48px;
    padding-bottom:72px; 
    text-align: center;
    .hd{
      border-top: 2px solid #00b5ab;
      position: relative;
      padding-right: 30px;
      padding-left: 30px;
      span{
        position: relative;
        top: -4px;
        font-weight: bold;
        font-size: 40px;
        color: #00b5ab;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #fff;
      }
    }
  }  
}

.has-bg{
  .wrap{
    padding-top: 48px;
    padding-bottom: 44px;
    .hd{
      border-top: 2px solid #fff;
      span{
        color: #fff;
        background-color: #0ab7ae;
      }
    }
  }
}

/* wx-o*/
.page-1{
  background: url(../images-wx/page1-bg.jpg) center top no-repeat;
  height: 600px;
  .wrap{
    padding-top: 105px;
    .hd{
      color: #fff;
      height:88px;
      h1,
      h2,
      .wx-logo {
        float: left;
      }
      h1{
        font-weight: bold;
        font-size: 88px;
        line-height: 77px;
        margin-right: 15px;
      }
      h2{
        font-size: 0;
        line-height: 58px;
        margin-top: 25px;
        font-weight: normal;
        margin-right: 15px;
        span{
          font-size: 58px;
          border-right: 2px solid #fff;
          display: inline-block;
          height: 58px;
          padding-right: 8px;
          padding-left: 8px;
        }
        span:last-child{
           border-right: 0;
           padding-right: 0;
        }
        span:first-child{
          padding-left: 0;
        }
      }
      .wx-logo{
        width: 56px;
        height: 56px;
        border-radius: 10px;
        background-color: #fff;
        text-align: center;
        margin-top: 28px;
        img{
          margin-top: 11px;
          width: 43px;
          height: 34px;
        }
      }

    }
    .reg{
      margin: 0 auto;
      margin-top: 56px;
      border-radius: 25px;
      background-color: #fff;
      width: 328px;
      height: 50px;
      font-size: 0;
      text-align: center;
      span{
        font-size: 30px;
        color: #06bfb3;
        line-height: 50px;
      }
      span:first-child{
        margin-right: 38px;
      }
    }
    .info{
      text-align: center;
      margin-top: 60px;
      font-size: 0;
      span{
        font-size: 30px;
        color: #fefefe;
      }
      .mr{
        margin-right: 28px;
      }
    }
    .phone{
      margin: 0 auto;
      margin-top: 56px;
      border: 2px solid #fffffb;
      width: 658px;
      height: 58px;
      font-size: 0;
      .tel{
        color: #fffa66;
        font-size: 36px;
        margin-left: 90px;
        margin-right: 89px;
        line-height: 58px;
        letter-spacing: 3px;
      }
      .text{
        float: right;
        width: 197px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        display: inlineblock;
        background-color: #fff;
        color: #fc7337;
        font-size: 30px;
        margin-top: 2px;
        margin-right: 2px;
      }
    }
  }
}

.page-2 {
  .wrap{
    .person{
      margin-top: 70px;
      span{
        color: #272727;
        font-size: 22px;
        display: inline-block;
        &:first-child{
          font-weight: bold;
          margin-bottom: 24px;
        }
      }      
    }
    hr{
      width: 72px;
      height: 4px;
      background-color: #00b5ab;
      margin-top: 50px;
      margin-bottom: 12px;
    }
    .info{
      span{
        margin-top: 20px;
        color: #272727;
        font-size: 18px;
        display: inline-block;
        &:nth-child(3n){
          /* font-weight: bold;*/
        }
      }
    }
  }
}

.page-3{
  background: url(../images-wx/page3-bg.jpg) center top no-repeat;
  /* background-color: #0ab7ae;*/
  height: 450px;
  .wrap{
    .bd{
      font-size: 0;
      margin-top: 52px;
      img{
        margin-right: 50px;
      }
      .text{
        text-align: left;
        float:right;
        margin-top: 13px;
        width: 478px;
        p{
          font-size: 18px;
          color: #fff;
          margin-bottom: 30px;
          strong{
            color: #f9ff48;
            font-weight: bold;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }

}


.page-4{
  .wrap{
    overflow: hidden;
    .bd{
      margin-top: 80px;
      padding-left: 16px;
      padding-right: 16px;
      width:1151px;
      font-size: 0;
      li{
        width: 222px;        
        margin-right: 151px;
        float:left;
        .info{
          margin-top: 40px;
          h2{
            font-size: 24px;
            color: #272727;
            font-weight: normal;
          }
          hr{
            margin-top: 20px;
            margin-bottom: 20px;
            height: 3px;
            width: 40px;
            background-color: #00b5ab;
          }
          p{
            text-align: left;
            font-size: 18px; 
            color: #272727;           
          }
        }

      }
    }
  }
}

.page-5{
  background: url(../images-wx/page5-bg.png) center top no-repeat;
  height: 650px;
  .wrap{
    .hd{
      span{
        background-color: #00adae;
      }
    }
    .bd{
      margin-top: 60px;
      h3{
        font-weight: normal;
        color: #fff55e;
        font-size: 24px;
        margin-bottom: 32px;
      }
      .person{
        width: 1013px;
        background-image: url(../images-wx/page5-rect.png);
        height: 118px;
        padding-top: 21px;
        padding-left: 20px;
        box-sizing: border-box;
        padding-right: 20px;
        .item{
          width: 281px;
          display: inline-block;
          margin-right: 60px;
          &:last-child{
            margin-right: 0;
          }
          .img-wrap{
            float:left;
            width: 68px;
            height: 68px;
            border-radius: 38px;
            border: 4px solid #8ddbdb;
            overflow: hidden;
            margin-right: 15px;
            img{
              margin-top: -4px;
              margin-left: -4px;
            }
          }
          .text{
            margin-top: 12px;
            float:left;
            font-size: 20px;
            color: #fff;
            width: 190px;
          }
        }
        .item-long{
          .img-wrap{
            margin-right: 10px;
          }
          .text{
            width: 195px;
          }
        }
      }
      .info{
        width: 840px;
        margin: 0 auto;
        margin-top: 80px;
        .item{
          text-align: left;
          margin-bottom: 35px;
          .title{
            font-size: 24px;
            color: #00b5ab;
            width:126px;
            height: 30px;
            background-color: #fff;
            text-align: center;
            line-height:30px;
            margin-right: 24px;
            float: left;
          }
          .text{
            font-size: 18px;
            color: #fff;
            text-align: left;
            width: 690px;
            margin: 0;
          }
        }        
      }
    }
  }
}

.page-6{
  .wrap{
    @include clearfix;
    /* height:260px;*/
    position: relative;
    text-align: center;
    .list {
      position: relative;
      width: 100%;
      margin-top: 80px;      
      font-size: 0;
      height: 280px;
      > div {
        margin: 0 auto;
        display: inline-block;
        float: left;
        text-align: center;
        width: 200px;
        z-index: 2;
        position: relative;
        > p {
          height: 36px;
          font-family: '微软雅黑';
          font-size: 24px;
          color: #272727; 
          margin-bottom: 35px;
        }
        .circle{
          width:14px;
          height: 14px;
          border-radius: 7px;
          background-color: #00b7aa;
          margin: 0 auto;
          margin-bottom: 5px;
        }
        .line{
          width:2px;
          margin: 0 auto;
          margin-bottom: 10px;
        }
        .line-l{
          height: 134px;
        }
        .line-2{
          height: 105px;
        }
        .num-wrap{
          margin: 0 auto;
          width:46px;
          height: 46px;
          border-radius: 23px;
          background-color: #00b7aa;
          text-align: center;
          img{
            margin-top: 11px;
          }
        } 
        &:nth-child(2n){
          padding-top: 29px;
        }       
      }

      hr {
        background-color: #06b8a8;
        height: 1px;
        border: none; 
        position: absolute;
        bottom: 23px;
        left: 0;
        width: 100%;
        z-index: 1;
      }
    }
    
  }    
}

.page-7{
  .wrap {
    @include clearfix;      
    width: 100%;
    text-align: center;
    background-color: #00b7aa;
    margin-top: -10px;

    .lists {
      width:828px;
      margin:0 auto 0;
      text-align: left;
      margin-top: 56px;
      .list {
        color: #fff;
        border-top:1px solid #97e2e0;
        overflow:hidden;
        cursor:pointer;
        .number {
          padding:17px 62px 17px 30px;
        }
        .list-content{
          word-spacing:4px;line-height:34px;
          height: 100%;
          .subtitle{
            font-size:22px;
            line-height: 83px;
          }
        }
        .list-title-wrap {
          @include clearfix;
          height:83px;
        }
        .arrow{
          margin:27px 18px 28px 0;
          width: 24px;
          height: 24px;
          border-radius: 14px;
          border:2px solid #fff;
          text-align: center;
          img{
            margin-top: 3px;
          }
        }
        .f-fl {
          float: left;
        }
        .f-fr {
          float: right;
        }
        .course-detail{
          display:none;
          padding:0px 20px 20px 138px;
          line-height:22px;
          margin-top: 0px;
          color: #fff;
          font-family: '微软雅黑';
          font-size: 16px;
        }
        /* &:hover{*/
        /*   background-color:#e8c895;transition:all .2s ease-in-out;*/
        /* }*/
      }
      &:last-child{
        border-bottom:1px solid #97e2e0;
      }
    }
  }
}


.page-8{
  .wrap{
    .bd{
      margin-top: 85px;
      position: relative;
      height:498px;
      img{
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 159px;
        margin-left: -159px;
      }
      ul{
        position: relative;
        .item{
          width: 240px;
          position:absolute;
          top:0;          
          .title{
            position: relative;
            background-color: #00b7aa;
            width:100%;
            height: 48px;
            border-radius: 5px;
            color: #fff;
            font-size: 28px;
            text-align: center;
            line-height: 48px;            
          }
          .circle{
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: #00b7aa;
            position: absolute;
            top: -5px;            
          }
          .text{
            color: #272727;
            font-size: 20px;
            text-align: center;
            margin-top: 16px;
          }
        }
        .item-1{
          left: 42px;
          .title{
            border-top-right-radius: 0;
            &:after{
              width:0;
              height: 0;
              content:"";
              border-top: 24px solid #00b7aa;
              /* border-left: 30px solid #00b7aa;*/
              /* border-bottom: 24px solid transparent;*/
              border-right: 30px solid transparent;
              position: absolute;
              top:0;
              right: -29px;
            }
          }
          .circle{
            right:-68px;
          }
        }
        .item-2{
          right:42px;
          .title{
            border-top-left-radius: 0;
            &:before{
              width:0;
              height: 0;
              content:"";
              border-top: 24px solid #00b7aa;
              /* border-right: 30px solid #00b7aa;*/
              /* border-bottom: 24px solid transparent;*/
              border-left: 30px solid transparent;
              position: absolute;
              top:0;
              left: -29px;
            }
          }
          .circle{
            left:-68px;
          }
        }
        .item-3{
          top: 210px;
          left: 10px;
          .title{
            border-top-right-radius: 0;
            &:after{
              width:0;
              height: 0;
              content:"";
              border-top: 24px solid #00b7aa;
              /* border-left: 30px solid #00b7aa;*/
              /* border-bottom: 24px solid transparent;*/
              border-right: 30px solid transparent;
              position: absolute;
              top:0;
              right: -29px;
            }
          }
          .circle{
            right:-68px;
          }
        }
        .item-4{
          top: 210px;
          right:10px;
          .title{
            border-top-left-radius: 0;
            &:before{
              width:0;
              height: 0;
              content:"";
              border-top: 24px solid #00b7aa;
              /* border-right: 30px solid #00b7aa;*/
              /* border-bottom: 24px solid transparent;*/
              border-left: 30px solid transparent;
              position: absolute;
              top:0;
              left: -29px;
            }
          }
          .circle{
            left:-68px;
          }
        }

        .item-5{
          width: 278px;
          top: 384px;
          left:50%;
          margin-left: -139px;
          .title{
            border-top-left-radius: 0;
            &:before{
              width:0;
              height: 0;
              content:"";
              border-left: 14px solid transparent;
              border-bottom: 14px solid #00b7aa;
              border-right: 14px solid transparent;
              position: absolute;
              top:-14px;
              left: 125px;
            }
          }
          .circle{
            top: -40px;
            left:134px;
          }
        }
      }
    }
  }
}

.page-9{
  background: url(../images-wx/page9-bg.jpg) center top no-repeat;
  /* background-color: #0ab7ae;*/
  height: 640px;
  .wrap{
    .bd{
      font-size: 0;
      .rect{
        display: inline-block;
        width:18px;
        height: 18px;
        margin: 0 auto;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        &:before{
          width: 0;
          height: 0;
          content: '';
          border-bottom: 9px solid #f7fffd;
          border-left: 9px solid transparent;          
          border-right: 9px solid transparent;          
        }
        &:after{
          position: absolute;
          top: 9px;
          left: 0;
          width: 0;
          height: 0;
          content: '';
          border-top: 9px solid #f7fffd;
          border-left: 9px solid transparent;          
          border-right: 9px solid transparent;  
        }
      }
      h3{
        display: none;
        font-weight: normal;
        font-size: 30px;
        color: #fff88a;
        margin: 0;
      }
      .text{
        padding-left: 44px;
        margin-top: 70px;
        .img-wrap{
          margin-right: 92px;
          float:left;
          width: 238px;
          height: 327px;
          background-color: #91dfdc;
          img{
            margin-top: 4px;
          }
        }
        .info{
          float: left;
          width: 604px;
          text-align: left;
          p{
            color: #fff;
            font-size: 24px;
            margin-bottom: 40px;
          }
          .active{
            font-weight: bold;
            line-height: 40px;
          }
          .notice{
            font-size: 18px;
            background-color: #fff;
            color:#fe3e5d;
            padding-left: 16px;
            padding-right: 16px;
            height:32px;
            line-height: 32px;
          }
        }
      }
    }
  }
}

.page-10{
  .wrap{    
    .bd{
      text-align: left;
      font-size: 0;
      margin-top: 74px;
      padding-left: 80px;
      li{
        margin-bottom: 50px;
        img{
          margin-right: 45px;
        }
        .text{
          color: #272727;
          display: inline-block;
          h3{
            font-size: 24px;
            margin: 0;
            margin-bottom: 11px;
            font-weight: normal;
          }
          p{
            font-size: 18px;
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}


.page-11{
  background-color: #333;
  height: 80px;
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  .wrap{

  }
  .pull-left{
    span{
      color: #fefefe;
      font-size: 28px;
      line-height: 80px;
    }
  } 
  .pull-right{
    margin-top: 10px;
    font-size: 0;
    span{
      font-size: 18px;
      color: #fefefe;
      &:nth-child(2n){
        text-decoration: line-through;
        margin-right: 20px;
      }
      &:nth-child(4n){
        text-decoration: none;
        margin-right: 0;
      }
    }
    .cur-price{
      color: #fdff48;
      font-size: 40px;
      margin-right: 20px;
    }
    .buy{
      display: inline-block;
      width:158px;
      height: 42px;
      background-color: #fb3853;
      color: #fefefe;
      line-height: 42px;
      font-size: 24px;
      text-align: center;
    }
  }
}

@media (max-width:640px) {
  .no-bg{
    .wrap{
      .hd{
        span{
          /* top: -25px;*/
        }
      }
    }
  }
  .wrap{
    width:600px;
  }

  .page-1{
    .wrap{
      .hd{
        font-size: 56px;
        padding-left: 26px;
        h1{
          font-size: 50px;
          margin-right: 5px;
        }
        h2{
          margin-top: 45px;
          line-height: 20px;
          margin-right: 5px;
          span{
            font-size: 30px;
            height: 26px;
            padding-right: 5px;
            padding-left: 5px;
          }
          span:last-child{
            padding-right: 0;
          }
          span:first-child{
            padding-left: 0;
          }
        }
        .wx-logo{
          width: 32px;
          height: 32px;
          margin-top: 40px;
          img{
            width: 80%;
            height: 80%;
            display: block;
            margin-top: 10%;
            margin-left: 10%;
          }
        }
      }

      .info{
        span{
          font-size: 24px;
        }
      }

      .phone{
        width: 100%;
        font-size: 0;
        .tel{
          margin-left: 45px;
          margin-right: 45px;
          float: left;
          background-color: transparent;
          color: #fffa66 !important;
        }
        .text{
        }
      }

    }
  }
  
  .page-2{
    display: none;
  }
  .page-3{
    /* display: none;*/
    height: initial;
    background: none;
    background-color: #0ab7ae;
    .wrap{
      .bd{
        img{
          margin-right: 0;
        }
        .text{
          float: initial;
          width: 472px;
          margin: 0 auto;
          margin-top: 20px;
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
  .page-4{
    /* display: none;*/
    .wrap{
      .bd{
        li{
          width: 190px;
          margin-right: 10px;
          &:last-child{
            margin-right: 0;
          }
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .page-5{
    /* display: none;*/
    .wrap{
      .bd{
        .person{
          width: 100%;
          background-size: contain;
          height: 70px;
          padding-left: 10px;
          padding-top: 0;
          .item{
            float: left;
            width: 180px;
            margin-right: 10px;
            .img-wrap{
              margin-right: 5px;
            }
            .text{
              width: 99px;
              margin-top: 0;
            }
          }
          .item-long{
            .img-wrap{
              margin-right: 0px;
            }
            .text{
              width: 104px;
            }
          }
        }
        .info{
          width: 100%;
          .item{
            .text{
              display: inline-block;
              width: 450px;
            }
          }
        }
      }
    }
  }
  .page-6{
    /* display: none;*/
    .wrap{
      .list{
        >div{
          width: 120px;
        }
      }
    }
  }
  .page-7{
    /* display: none;*/
    .wrap{
      .lists{
        width: 100%;
        .list{
          .course-detail{
            padding-left: 97px;
            p{
              display: inline-block;
            }
          }
          .number{
            padding-right: 20px;
          }
        }
      }
    }
  }
  .page-8{
    /* display: none;*/
    .wrap{
      .bd{
        height: 430px;
        img{
          width: 40%;
          left: 30%;
          margin-left: 0;
        }
        ul{
          .item{
            width: 135px;
            .text{
              font-size: 16px;
            }
          }
          .item-1{
            left: 20px;
            .circle{
              right: -45px;
            }
          }
          .item-2{
            right: 20px;
            .circle{
              left: -45px;
            }
          }
          .item-3{
            left:0px;
            top: 145px;
            .circle{
              right: -45px;
            }
          }
          .item-4{
            right:0px;
            top: 145px;
            .circle{
              left: -45px;
            }
          }
          .item-5{
            top: 300px;
            margin-left: -67px;
            .circle{
              left: 67px;
            }
            .title{
              &:before{
                top: -13px;
                left: 57px;
              }
            }
          }
        }
      }
    }
  }
  .page-9{
    /* display: none;*/
    .wrap{
      .bd{
        .text{
          padding-left: 0;
          .img-wrap{
            margin-right: 30px;
          }
          .info{
            width: 332px;
            p{
              margin-bottom: 10px;
              font-size: 20px;
            }
            .notice{
              font-size: 12px;
              height: initial;
              line-height: 20px;
            }
          }
        }
      }
    }

  }
  .page-10{
    /* display: none;*/
    .wrap{
      .bd{
        padding-left: 0;
        li{
          img{
            float: left;
          }
          .text{
            width: 485px;
          }
        }
      }
    }
  }
  .page-11{
    .pull-left{
      img{
        margin-top: 28px;
        float:left;
      }
      span{
        font-size: 20px;
        float:right;
      }
    }
    .pull-right{
      margin-top: 18px;
      .cur-price{
        font-size: 30px;
      }
      span:nth-child(2n){
        margin-right: 10px;
      }
      .cur-price{
        margin-right: 10px;
      }
      .buy{
        width: 100px;
        margin-right: 0;
      }
    }
  }


}
