@charset "utf-8";

/* reset*/
@import "_normalize";

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1*/
    display: table; /* 2*/
  }
  &:after {
    clear: both;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  /* IE8 filter*/
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

/* commom*/
html{
  font-size: 20px;
}

body {
  font-family: '微软雅黑';
}
ul {
  padding-left: 0;
  margin: 0;
  font-size: 0;
}
p {
  margin: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a{
  text-decoration: none;
}
section {
  overflow: hidden;
}
.wrap {
  width: 49rem;
  margin: 0 auto;
}
.pull-left{
  float:left;
}
.pull-right{
  float:right;
}
.clearfix{
  @include clearfix();
}

.page{
  .wrap{
    .h2{
      font-family: 'Lantinghei SC';
      font-size: 3.6rem;
      color: #fff;
      text-align: center;
    }
  }
}

/* young-leader*/
.page-1{
  background:url(../images/young-leader/page1-bg.jpg) center top no-repeat;
  height: 40.6rem;
  .wrap{
    padding-top: .9rem;
    .logo{
      background: url(../images/young-leader/page1-logo.png) center top no-repeat;
      width: 7.6rem;
      height:3rem;
      display: inline-block;
      margin-bottom: 1.6rem;
    }
    .text-wrap{
      text-align: center;
      .text{
        width: 37.25rem;
        height:6.7rem;
      }
      margin-bottom: 2rem;
    }    
    .pic-wrap{
      width: 55.1rem;
      position: relative;
      margin-left: -3.95rem;
      height:22rem;
      .texas{
        background: url(../images/young-leader/page1-texas.png) center top no-repeat;
        width: 36.4rem;
        height:22rem;
        position: absolute;
        top:0;
        left:0;
        .list{
          padding-top: 4.5rem;
          padding-left: 4.3rem;
          width: 24rem;
          .item{
            background: url(../images/young-leader/page1-star.png) left .7rem no-repeat;
            padding-left: 1.5rem;
            p{
              color: #103853;
              font-size: 1.4rem;
              line-height: 2.4rem;
              font-family: 'Hiragino Sans GB';
            }
            &:nth-child(1){
              width: 18.4rem;
            }
          }
        }
      }
      .pic-1{
        background: url(../images/young-leader/page1-pic-1.png) center top no-repeat;
        width: 34.15rem;
        height:16.15rem;
        padding-top: 5rem;
        position: absolute;
        top:0;
        right:0;
        p{
          color: #fff;
          font-size: 1.5rem;
          line-height: 2rem;
          width: 21rem;
          float: right;
          margin-right: 1rem;
          text-align: center;
          strong{
            color: #ffce22;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.page-2{
  background:url(../images/young-leader/page2-bg.jpg) center top no-repeat;
  height: 43.55rem;
  .wrap{
    padding-top: 4.2rem;
    .title{
      color: #fff;
      font-size: 1rem;
      line-height: 1.7rem;
      text-align: center;
    }

    .pic-wrap{
      width: 100%;
      margin-top: 1.5rem;
      .list{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        margin-left: -.35rem;
        .item{
          box-sizing:border-box;
          &:nth-child(2){
            margin-left: -.45rem;
          }
          &:nth-child(3){
            margin-left: -.45rem;
          }
          &:nth-child(4){
            margin-left: -.45rem;
          }
        }
      }
    }

    .medal-wrap{
      width: 33rem;
      margin: 0 auto;
      .list{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        
        .item{
          .text{
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: #fff;
            strong{
              color: #ffce22;
            }
          }
        }
      }
    }

    .sign-up{
      background:url(../images/young-leader/page2-btn.png) center top no-repeat;
      height: 3.3rem;
      width:11.85rem;
      color: #c41023;
      font-size: 1.4rem;
      line-height: 3rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 0 auto;
      margin-top: 1.5rem;

    }
  }
}

.page-3{
  background:url(../images/young-leader/page3-bg.jpg) center top no-repeat;
  height: 42.45rem;
  .wrap{
    padding-top: 3.5rem;
    .title{
      font-size: 1.8rem;
      line-height: 2rem;
      color: #fff;
      text-align: center;
    }

    .pic-wrap{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
          justify-content: flex-end;
      margin-top: -.5rem;
      position: relative;
      height: 21.7rem;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      .list{
        width:38rem;
        height: 100%;
        position: absolute;
        right: 0;
        .item-1{
          position: absolute;
          left:0;
          top:0;
        }
        .item-2{
          position: absolute;
          right:0;
          bottom:0;
          width: 18.75rem;
        }
      }
      
      .text-wrap{
        width: 29.3rem;
        position: absolute;
        left: 0;
        text-align: right;
        margin-right: .5rem;
        p{
          color: #fff;
          font-size: 1.5rem;
          line-height: 1.7rem;
          margin-bottom: 2.1rem;
          .colored{
            color: #ffce22;
            font-style: italic;
          }
        }
      }
    }

    .sign-up{
      background:url(../images/young-leader/page2-btn.png) center top no-repeat;
      height: 3.3rem;
      width:11.85rem;
      color: #c41023;
      font-size: 1.4rem;
      line-height: 3rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 0 auto;
      margin-top: 1.5rem;
    }
  }
}

.page-4{
  background:url(../images/young-leader/page4-bg.jpg) center top no-repeat;
  height: 100.6rem;
  .wrap{
    padding-top: 7rem;
    position: relative;
    .h3{
      background:url(../images/young-leader/page4-h3.png) center top no-repeat;
      height: 1.7rem;
      width:13.1rem;
      margin: 0 auto;
      margin-bottom: 2.3rem;
    }

    .title{
      font-size: 1.8rem;
      line-height: 1.7rem;
      color: #fff;
      text-align: center;
    }

    .tutor-wrap{
      margin-top: 2rem;
      .list{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        width: 36rem;
        margin: 0 auto;
        .item{
          height: 7.3rem;
          width:11.4rem;
          background-color: #fff;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-direction: column;
              flex-direction: column;
          transform: skewY(-15deg);
          .text{
            color: #0055aa;
            font-size:1.2rem;
            line-height: 1.7rem;
            transform: skewY(15deg);
          }
          img{
            transform: skewY(15deg);
          }
        }
      }
    }

    .layout-panel{
      margin-top: 4.35rem;
      .list{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        .item{
          color: #fff;
          font-size: 1.2rem;
          line-height: 2.4rem;
        }
      }
      .right-arrow{
        width: 49.9rem;
        height: 1.05rem;
      }
      .table{
        width: 100%;
        border: 1px solid #fffefe;
        thead{
          background-color: #fff;
          tr{
            height: 1.6rem;
            th{
              color: #3743b4;
              font-size: 1rem;
              line-height: 1.1rem;
            }
          }
        }
        tbody{
          tr{
            td{
              color: #fff;
              font-size: 1rem;
              line-height: 1.1rem;
              text-align: center;
              padding: .1rem 1rem;
              border-bottom: 1px dashed #fff;
              border-right: 1px dotted #487fb8;
              strong{
                color: #ffd943;
              }
            }
          }
        }
      }
    }

    .business-panel,
    .exchange-panel {
      margin-top: 1.8rem;
      .list{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: start;
            justify-content: flex-start;
        .item{
          color: #fff;
          font-size: 1.2rem;
          line-height: 2.4rem;
          margin-right: 1.5rem;
        }
      }
    }

    .explore-panel{
      margin-top: 1.8rem;
      .list{
        .item{
          color: #fff;
          font-size: 1.2rem;
          line-height: 2.4rem;
          margin-right: 1.5rem;
        }
      }
    }

    .panel{
      .panel-title{
        width: 8rem;
        height: 2.2rem;
        background-color: #000;
        text-align: center;
        font-weight: normal;
        transform: skew(-20deg);
        p{
          color: #fff;
          font-size: 1.2rem;
          line-height: 2.2rem;
          transform: skew(20deg);
        }
      }
    }

    .rect-wrap{
      position: absolute;
      bottom: -6rem;
      right: 0;
      ul{
        width: 35.9rem;
        position: relative;
        height: 21.1rem;
        .item-1{
          position: absolute;
          top: 0;
          left: 0;
        }
        .item-2{
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .list-rect-2{
        right: -12.3rem;
      }
      .list-rect-1{
        right: -17.2rem;
        bottom: -9.7rem;
      }
    }
  }
}

.page-5{
  background:url(../images/young-leader/page5-bg.jpg) center top no-repeat;
  height: 68.2rem;
  .wrap{
    padding-top: 7.8rem;

    .table-con{
      text-align: center;
      margin-top: 1.9rem;
      .table-wrap{
        display: inline-block;
        border: 1px dashed #fff;
        padding: 1.1rem .8rem;
        border-radius: .5rem;
        .table{
          thead{
            tr{
              th{
                color: #fff;
                font-size: 1.4rem;
                line-height: 2.3rem;
              }
            }
          }
          tbody{
            tr{
              td{
                color: #fff;
                font-size: 1.4rem;
                line-height: 2.3rem;
              }
            }
          }
        }
      }
    }

    .review-wrap{
      margin-top: 3.4rem;
      .review-title{
        font-size: 1.8rem;
        color: #fff;
        line-height: 1.8rem;
        margin-bottom: 1.3rem;
        text-align: center;
      }
      .list{
        width:69.35rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        margin-left: -10.2rem;
        .item{
          text-align: center;
          .text{
            font-size: 1.1rem;
            line-height: 2.2rem;
            color: #fff;
          }
        }
      }
    }
    
    .sign-up{
      background:url(../images/young-leader/page2-btn.png) center top no-repeat;
      height: 3.3rem;
      width:11.85rem;
      color: #c41023;
      font-size: 1.4rem;
      line-height: 3rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 0 auto;
      margin-top: 1.5rem;

    }
  }
}

.page-6{
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  background-color: #272727;
  color: #e9e9e9;
  .wrap{
    font-size: 0;
  }
  .text{
     width: 36rem;
     display: inline-block;
     img{
      float:left;
      margin-top: .25rem;
     }
     p{
      line-height: 1.4rem;
      font-size: .8rem;
      padding-left: 1.5rem;
     }
     
  }
  .qrcode{
    display: inline-block;
    width: 5.8rem;
    margin-left: 3.15rem;
    margin-right: 2rem;
    text-align: center;
    p{
      font-size: .8rem;
      line-height: 1.5rem;
    }
  }
}

@media (max-width:640px) {

  .wrap{
    width:600px;
  }

  html{
    font-size: 17px;
  }

  .page{
    .wrap{
      .h2{
        font-size: 3.5rem;
      }
    }
  }

  .page-1{
    height: 47.55rem;
    .wrap{
      .text-wrap{
        .text{
          width: 100%;
        }
      }
      .pic-wrap{
        width: 100%;
        margin: 0 auto;
        .texas{
          width: 66%;
          height: 11rem;
          background-size: contain;
          .list{
            width: 62%;
            padding-top: 1.5rem;
            padding-left: 3.5rem;
            .item{
              background-position: left top;
              width: 100%;
              p{
                font-size: .8rem;
                line-height: 1.5rem;
              }
              &:nth-child(1){
                width: 72%;
              }
            }
          }
        }
        .pic-1{
          width: 61%;
          background-size: contain;
          padding-top: 3rem;
          p{
            width: 12rem;
            font-size: .8rem;
            margin-right: 1.5rem;
            line-height: 1rem;
            strong{
              font-size: .8rem;
            }
          }
        }
      }
    }
  }

  .page-2{
    height: 50.55rem;
    .wrap{
      .pic-wrap{
        .list{
          .item{
            width: 24%;
            display: inline-block;
            img{
              width: 100%;
            }
          }
        }
      }
    }
  }

  .page-3{
    height: 48.4rem;
    .wrap{
      padding-top: 1rem;
      .pic-wrap{
        margin-top: 3.5rem;
      }
      .sign-up{
        margin-top: 3.5rem;
      }
    }
  }

  .page-4{
    height: 117.6rem;
    .wrap{
      .h3{
        height: 2.7rem;
      }
      .layout-panel{
        .list{
          .item{
            font-size: 1rem;
          }
        }
        .table{
          tbody{
            tr{
              td{
                padding: .1rem .5rem;
              }
            }
          }
        }
      }
      .rect-wrap{
        right: -3rem;
        .list-rect-1{
          right: -17.2rem;
          bottom: -7.7rem;
        }
        .list-rect-2{
          right: -15.3rem;
        }
        ul{
          li{
            width: 49%;
            img{
              width: 100%;
            }
          }
        }
      }
      .business-panel,
      .exchange-panel{
        .list{
          display: block;
        }       
      }

    }
  }

  .page-5{
    .wrap{
      .table-con{
        .table{
          thead{
            tr{
              th:nth-child(2){
                padding-right: 10px;
              }
            }
          }
        }
      }
      .review-wrap{
        .list{
          display: block;
          width: 100%;
          margin-left: 0;
          .item{
            text-align: center;
            width: 24%;
            display: inline-block;
            margin-right: 1%;
            img{
              width: 100%;
            }
            .text{
              font-size: .8rem;
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .page-6{
    .wrap{
      .text{
        width: 100%;
      }
      .qrcode{
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
























