@charset 'utf-8';

$color_1 : #ff6600;

html{
  font-size: 100px;
}

body{
  background-color: #f7f7f7;
  font-family: 'PingFang SC Regular';

  &.freeze{
    overflow: hidden;
  }
}

header{
  height: .45rem;
  width: 100%;
  background-color: #ff6600;
  position: relative;

  a{
    position: absolute;
    left: 0rem; 
    display: inline-block;
    width: .44rem;
    height: .44rem;
    font-size: 0;
    text-align: center;
    img{
      width: .1rem;
      margin-top: .13rem;
    }
  }
  h1{
    text-align: center;
    font-size: .18rem;
    color: white;
    margin: 0;
    line-height: .45rem;
    font-weight: normal;
  }
}

.title{
  background-color: white;
  font-size: .18rem;
  line-height: .24rem;
  color: #666666;
  text-align: center;
  padding-top: .2rem;
  padding-bottom: .13rem;
  margin: 0;

  span{
    color: #ff6600;
  }
}

.time-con{
  background-color: white;
  font-size: 0;
  padding-left: .12rem;
  padding-right: .12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: .21rem;
  .img-con{
    img{
      width: .6rem;
    }
  }
  .time{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    
    color: $color_1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .16rem;
    .rect{
      display: inline-block;
      width: .2rem;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: .36rem;
      line-height: .36rem;
      text-align: center;
      font-size: .3rem;
      margin-right: .03rem;

      &.prev{
        margin-left: .03rem;
      }
      &:last-child{
        margin-right: 0;
      }

    }
  }
}

.rules-con{
  margin-top: .1rem;
  padding-left: .12rem;
  padding-right: .12rem;
  background-color: #fff;
  padding-top: .13rem;
  font-size: 0;

  h2{
    font-weight: normal;
    font-size: .16rem;
    line-height: .24rem;
    color: $color_1;
    margin: 0;
  }
  p{
    font-size: .14rem;
    line-height: .24rem;
    margin: 0;
  }
  .detailed{
    font-size: .12rem;
    line-height: .24rem;
    color: $color_1;
    text-decoration: underline;
    margin-bottom: .07rem;
    display: inline-block;
  }
}

.bargain-con{
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: .12rem;
  padding-right: .12rem;
  padding-bottom: .35rem;

  .good-con{
    font-size: 0;
    width: 45.58%;
    img{
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
  .ranking-con{
    width: 51.28%;
    /* height: 1.2rem;*/
    border-radius: .04rem;
    border: 1px solid #e0e0e0;
    padding: .06rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;  

    h3{
      font-weight: normal;
      color: $color_1;
      line-height: .24rem;
      font-size: .15rem;
      margin: 0;
    }
    .ranking-content{
      overflow: scroll;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;      
      
      &.default{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        p{
          display: block;
          font-size: .12rem;
          color: #808080;
          text-align: center;
        }
      }
      p{
        margin: 0;
        font-size: .13rem;
        span{
          color: $color_1;
        }
        
      }
    }
  }
}

.btn-con{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  padding-bottom: .32rem;

  div{
    width: 1.2rem;
    height: .36rem;
    border-radius: .04rem;
    text-align: center;
    line-height: .36rem;
    font-size: .15rem;
  }

  .bargain{
    color: $color_1;
    border: 1px solid $color_1;
    &.disabled{
      color: white;
      border: 1px solid #ccc;
      background-color: #ccc;
    }
  }
  .buy{
    background-color: #ccc;
    color: white;
    &.active{
     background-color: $color_1;
    }
  }
}

.slide-con{
  font-size: 0;    
  padding-bottom: .2rem;
  background-color: white;

  .tip-con{
    padding-bottom: .12rem;
    width: 3.04rem;
    margin: 0 auto;

    span{
      display: inline-block;
      color: white;
      font-size: .11rem;
      height: .22rem;
      line-height: .22rem;
      border-radius: .04rem;
      background-color: $color_1;
      padding-left: .03rem;
      padding-right: .03rem;
      background: red;
      position: relative; 
      &:before{
       content:"";
       position: absolute;
       top: 100%;
       left: 50% - 3;
       width: 0;
       height: 0;
       border-left: .03rem solid transparent;
       border-top: .06rem solid red;
       border-right: .03rem solid transparent;
      }
    }
  }
  .progress-con{
    text-align: center;
    width: 2.84rem;
    margin: 0 auto;
    position: relative;
  
    .progress{
      width: 2.6rem;
      height: .1rem;
      border-radius: 8px;
      margin: 0 auto;
      background-color: $color_1;
      position: relative;

      .progress-inner{
        /* width: 1rem;*/
        width: 0;
        height: .1rem;
        background-color: #e6e6e6;
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
      }
    }
    .slide{
      width: .24rem;
      position: absolute;
      left: 0rem;
      top: -0.07rem;        
    }
    .price-con{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 2.84rem;
      margin: 0 auto;
      margin-top: .07rem;

      div{
        p{
          margin: 0;
          font-size: .13rem;
          line-height: .18rem;
          color: $color_1;
        }
      }
      .origin-price{

      }
      .base-price{

      }
    }
  }
}

.invite{
  width: 100%;
  height: .48rem;
  background-color: #ff6600;
  text-align: center;
  line-height: .48rem;
  color: #fff;
  font-size: .15rem;    
  line-height: .48rem;
}

.mask{
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  .bargain-tip-con{
    position: absolute;
    top: 3.3rem;
    width: 100%;
    display: none;

    .bargain-tip{
      width: 2.62rem;
      height: .82rem;
      text-align: center;
      background-image: url(../../../images/mobile/bargain/bargain-tip-bg.png);
      line-height: .82rem;
      font-size: .18rem;
      font-weight: bold;
      color: $color_1;
      background-size: contain;
      margin: 0 auto;    
    }  
  }

  .opacity{
    opacity: .5;
    background-color: black;
    width: 100%;
    height: 100%;
    display: none;
  }
  .arrow-con{
    display: none;
    position: absolute;
    right: .2rem;
    top: 0;
    text-align: center;
    font-size: 0;
    img{
      width: .38rem;
    }
    p{
      margin: 0;
      color: white;
      font-size: .16rem;
      line-height: .19rem;
      text-align: left;
    }
  }
  .detailed-con{
    position: absolute;
    top: 1.1rem;
    display: none;
    width: 100%;
    padding-left: .12rem;
    padding-right: .12rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    .content-con{
      margin: 0 auto;
      padding-left: .23rem;
      padding-right: .23rem;
      padding-top: .13rem;
      padding-bottom: .13rem;
      width: 100%;
      height: 4.4rem;
      border-radius: .08rem;
      overflow: scroll;
      background-color: white;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 0;
      h3{
        margin: 0;
        font-weight: normal;
        text-align: center;
        font-size: .18rem;
        line-height: .24rem;
        color: $color_1;
        text-decoration: underline;
      }
      .list{
        .item{
          margin-bottom: .18rem;
          h4{
            color: $color_1;
            margin: 0;
            font-weight: normal; 
            font-size: .11rem;
            line-height: .18rem;

          }
          p{
            margin: 0;
            color: #666;
            font-size: .11rem;
          }
        }
      }
    }

  }
}
