@charset 'utf-8';

@import "mixins/_font-dpr";
@import "mixins/_one-pixel";

html{
  height: 100vh;
}

body{
  font-size: 0;
  overflow: hidden;
  font-family: 'PingFang SC Regular';
}

a{
  &:link{
    text-decoration: none;

  }
  &:visited{
    text-decoration: none;

  } 
  &:hover{
    text-decoration: none;

  }
  &:active{
    text-decoration: none;

  }
}

footer{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 1rem;
  position: absolute;
  bottom: 0;
  font-size: 0;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  &:before{
    @include setTopLine(#ccc);
  }

  .item{
    padding-top: .1rem;
    text-align: center;

    &.active{
      a{
        p{
          color: #4e54ef;
        }
      }
    }
    img{
      width: .44rem;
    }
    p{
      @include font-dpr(10px);
      color: #8c8c8c;
    }
  }

}


