body {
  height: 100vh; }

header {
  background-color: #4e54ef;
  height: 1.28rem;
  padding-top: .66rem;
  position: relative;
  padding-left: .2rem;
  padding-right: .2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white; }
  header h1 {
    text-align: center;
    font-size: 19px;
    margin: 0;
    font-weight: normal;
    line-height: .28rem; }
    [data-dpr="2"] header h1 {
      font-size: 38px; }
    [data-dpr="3"] header h1 {
      font-size: 57px; }
  header span {
    position: absolute;
    right: .2rem;
    top: .6rem;
    font-size: 17px;
    opacity: .7; }
    [data-dpr="2"] header span {
      font-size: 34px; }
    [data-dpr="3"] header span {
      font-size: 51px; }
    header span img {
      width: .2rem; }

.main-con {
  background-color: #eee;
  padding: .2rem; }
  .main-con .form-con {
    height: .6rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main-con .form-con .form-group {
      display: inline-block;
      width: 50%;
      height: .6rem; }
      .main-con .form-con .form-group label {
        font-size: 15px;
        line-height: 0.6rem; }
        [data-dpr="2"] .main-con .form-con .form-group label {
          font-size: 30px; }
        [data-dpr="3"] .main-con .form-con .form-group label {
          font-size: 45px; }
    .main-con .form-con .money-con {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-right: .1rem; }
      .main-con .form-con .money-con input {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        outline: none;
        font-size: 14px;
        width: 2rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: .6rem;
        border-top-left-radius: .04rem;
        border-bottom-left-radius: .04rem;
        border: 0;
        padding-left: .1rem;
        padding-right: .1rem; }
        [data-dpr="2"] .main-con .form-con .money-con input {
          font-size: 28px; }
        [data-dpr="3"] .main-con .form-con .money-con input {
          font-size: 42px; }
      .main-con .form-con .money-con span {
        font-size: 14px;
        background-color: white;
        width: .3rem;
        height: .6rem;
        display: inline-block;
        float: right;
        padding-right: .3rem;
        line-height: .6rem;
        border-top-right-radius: .04rem;
        border-bottom-right-radius: .04rem; }
        [data-dpr="2"] .main-con .form-con .money-con span {
          font-size: 28px; }
        [data-dpr="3"] .main-con .form-con .money-con span {
          font-size: 42px; }
    .main-con .form-con .period-con {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .main-con .form-con .period-con select {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 14px;
        background-color: white;
        border: 0;
        height: .6rem;
        width: 2.6rem; }
        [data-dpr="2"] .main-con .form-con .period-con select {
          font-size: 28px; }
        [data-dpr="3"] .main-con .form-con .period-con select {
          font-size: 42px; }

.identity-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .1rem; }
  .identity-con label {
    font-size: 15px;
    line-height: .6rem;
    color: #333; }
    [data-dpr="2"] .identity-con label {
      font-size: 30px; }
    [data-dpr="3"] .identity-con label {
      font-size: 45px; }
  .identity-con .btn-con {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .identity-con .btn-con .btn {
      font-size: 20px;
      height: .6rem;
      background-color: #fff;
      display: inline-block;
      width: 30%;
      text-align: center;
      line-height: .6rem;
      font-size: 14px;
      line-height: .6rem;
      color: #000; }
      [data-dpr="2"] .identity-con .btn-con .btn {
        font-size: 40px; }
      [data-dpr="3"] .identity-con .btn-con .btn {
        font-size: 60px; }
      [data-dpr="2"] .identity-con .btn-con .btn {
        font-size: 28px; }
      [data-dpr="3"] .identity-con .btn-con .btn {
        font-size: 42px; }
      .identity-con .btn-con .btn.active {
        background-color: #4e54ef;
        color: white; }

.list-loan {
  margin-top: .4rem;
  overflow: scroll; }
  .list-loan .item {
    padding-top: .2rem;
    padding-bottom: .2rem;
    background-color: #fff;
    -webkit-box-shadow: 0 .04rem .07rem #d0d0ed;
    box-shadow: 0 .04rem .07rem #d0d0ed;
    margin-bottom: .2rem;
    border-radius: .05rem; }
    .list-loan .item .info-con {
      padding-left: .2rem;
      padding-right: .2rem;
      padding-bottom: .2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .list-loan .item .info-con:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px dashed #ccc;
        color: #ccc;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5); }
      .list-loan .item .info-con .img-con {
        display: inline-block; }
        .list-loan .item .info-con .img-con img {
          width: 1rem;
          margin-right: .2rem; }
      .list-loan .item .info-con .text-con {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        color: #111;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .list-loan .item .info-con .text-con h2 {
          font-size: 15px;
          margin: 0; }
          [data-dpr="2"] .list-loan .item .info-con .text-con h2 {
            font-size: 30px; }
          [data-dpr="3"] .list-loan .item .info-con .text-con h2 {
            font-size: 45px; }
        .list-loan .item .info-con .text-con p {
          width: 100%;
          font-size: 13px;
          margin: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          [data-dpr="2"] .list-loan .item .info-con .text-con p {
            font-size: 26px; }
          [data-dpr="3"] .list-loan .item .info-con .text-con p {
            font-size: 39px; }
          .list-loan .item .info-con .text-con p span span {
            color: #e21411; }
    .list-loan .item .advantage {
      margin: 0;
      margin-top: .2rem;
      color: #b8b8b8;
      font-size: 12px;
      line-height: .36rem;
      height: .36rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: .2rem; }
      [data-dpr="2"] .list-loan .item .advantage {
        font-size: 24px; }
      [data-dpr="3"] .list-loan .item .advantage {
        font-size: 36px; }

/*# sourceMappingURL=loan.css.map */
