@charset "UTF-8";

@import "mixins/_font-dpr";
@import "mixins/_one-pixel";

body{
  @include font-dpr(20px);
  background-color: #eee;

  header{
    font-size: 0;
    background: url(../../../images/mobile/m-c/detail-banner.png);
    background-size: contain;
    .text-con{
      width: 100%;
      display: inline-block;
      position: relative;
      
      a{
        position: absolute;
        top: 0;
        left: .3rem; 
        width: 24px;
        height: 44px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        img{
          width: .2rem;
        }
      }
      h1{
        text-align: center;
        margin: 0;
        @include font-dpr(19px);
        color: white;
        line-height: .28rem;
        margin-top: 0.46rem;
      }      
    }
  }

  .main-con{
    width: 100%;    
    padding: 0 .2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    .loan-con{
      padding: .2rem 0 .3rem 0;
      background-color: #fff;
      margin-top: -.54rem;
      -webkit-box-shadow: 0 .04rem .07rem #d0d0ed;
              box-shadow: 0 .04rem .07rem #d0d0ed;
      margin-bottom: .2rem;

      .info-con{
        padding-left: .2rem;
        padding-right: .2rem;
        padding-bottom: .2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        clear: both;
        position: relative;

        &:after{
          @include setBottomLine(#ccc);
        }

        .img-con{
          font-size: 0;
          float: left;
          margin-top: -.36rem;

          img{
            width: 1.3rem;
            margin-right: .2rem;
          }
        }
        .text-con{
          float: right;
          -webkit-box-flex:1;
              -ms-flex:1;
                  flex:1;
          color: #111;
          
          h2{
            margin: 0;
            width: 100%;
            @include font-dpr(17px);
            line-height: .28rem;
            color: #333;
            margin-bottom: .2rem;
            small{
              color: #ec864e;
              @include font-dpr(11px);
              float: right;
            }
          }
          p{
            color: #868686;
            width: 100%;
            @include font-dpr(13px);
            margin: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
          }
        }
      }
      .list-argu{
        margin-top: .3rem;
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;

        .item{
          list-style: none;
          text-align: center;

          p{
            @include font-dpr(13px);
            margin: 0;
            &.number{
              @include font-dpr(16px);
              color: #e80b0b;
            }  
          }

          
        }

      }

    }

    .need-con{
      background-color: #fff;
      -webkit-box-shadow: 0 .04rem .07rem #d0d0ed;
              box-shadow: 0 .04rem .07rem #d0d0ed;
      margin-bottom: .2rem;
      
      .img-con{
        margin-left: -.1rem;
        padding-top: .16rem;
        width: 1.56rem;
        font-size: 0;
        img{
          width: 100%;
        }
      }
      .list{
        margin-top: 0;
        margin-bottom: 0;
        padding: .3rem .2rem .3rem .2rem;
        .item{
          list-style: none;
          @include font-dpr(12px);
          line-height: .36rem;
          color: #666666;
        }
      }
    }

  }

  .apply{
    width: 100%;
    height: .9rem;
    background-color: #4e54ef;
    text-align: center;
    line-height: .9rem;
    color: #fff;
    @include font-dpr(18px);   
    margin-top: .2rem;
  }
}